<body>
  <div class="encabezado">
    <br>
    <div class="contenedor">
      <h1>¡Bienvenido!</h1>
    </div>
    <div class="contenedor" style="padding: 0em 10em; ;">
      <font face="Comic Sans MS,arial,verdana"  align="center">Esta herramienta te permitirá estar informado de los cambios más recientes que tenga la Bolsa de Valores de Colombia, analizando índices y valores importantes desde un tweet o un archivo. </font>
    </div>

    <mat-horizontal-stepper linear #stepper>

      <mat-step>
        <ng-template matStepLabel>Busqueda por Tweet</ng-template>
        <app-tweet></app-tweet>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Buscar Archivo</ng-template>
        <app-file></app-file>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Analizar Texto</ng-template>
        <app-text></app-text>
      </mat-step>
    </mat-horizontal-stepper>
  </div>

</body>
